@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  --main-color: #cbb4d0;
  --darken-color: #284c52;
  --shadow-darken-color: #284c522e;
  --shadow-main-color: #cbb4d023;
  --title-font: "Lobster", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: var(--darken-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
